<nav class="drink-nav">
  <h1>
    <%= link_to root_path do %>
      <i class="fas fa-home"></i>
    <% end %>
  </h1>
  <h1>
    <%= link_to cocktails_path do %>
      <i class="fas fa-glass-cheers"></i>
    <% end %>
  </h1>
  <h1 class="new">
    <%= link_to new_cocktail_path do %>
      <i class="fas fa-plus-circle"></i>
    <% end %>
  </h1>
  <div d-flex>
    <%= simple_form_for :query, url: cocktails_path, method: "GET", html: { class: 'form-inline' } do |f| %>
      <%= f.input :name, label: false, placeholder: "Search here.." %>
      <%= f.submit 'Go', class: "btn btn-dark" %>
    <% end %>
  </div>
</nav>

  <div class="container-show">
    <section class="cards">

        <% @cocktails.each do |cocktail| %>
            <% unless cocktail.photo.blank? %>
              <%= link_to cocktail_path(cocktail) do %>
                <div class="card text-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),url(<%= cl_image_path cocktail.photo.key %>)">
                  <%= cocktail.name %>
                </div>
              <% end %>
            <% else %>
              <%= link_to cocktail_path(cocktail) do %>
                <div class="card text-center" style="background-image: url('https://images.pexels.com/photos/1283219/pexels-photo-1283219.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940')">
                  <h3><%= cocktail.name %> </h3>
                </div>
              <% end %>
            <% end %>

        <% end %>
    </section>
  </div>
</div>


<!-- <form action="/cocktails">
  <input type="text" name="query" value="<%=params[:query]%>" >
  <input type="submit" value="Go" >
</form> -->

