<%= render 'navbar' %>
<div class="container-show">
  <div class="new-cocktail">
    <p>New cocktail</p>
    <%= simple_form_for(@cocktail) do |f| %>
      <%= f.input :name %>
      <%= f.input :photo, as: :file %>
      <%= f.submit class: "btn btn-dark" %>
    <% end %>
  </div>
</div>
